[includeIf "gitdir:~/server1/"]
	path = ~/git/dotfiles/gitconfig/.gitconfig-joppe

[includeIf "gitdir:~/git/"]
	path = ~/git/dotfiles/gitconfig/.gitconfig-joppe

# set gpg path for osx
[includeIf "gitdir:/Users/"]
	path = ~/git/dotfiles/gitconfig/.gitconfig-osx

# set gpg path for linux
[includeIf "gitdir:/home/"]
	path = ~/git/dotfiles/gitconfig/.gitconfig-linux

[gpg]
	format = ssh

[commit]
	gpgSign = true

[submodule]
	# recurse = true

[url "ssh://git@github.com/"]
	insteadOf = https://github.com/

[push]
	autoSetRemote = true
	autoSetupRemote = true

[pull]
	rebase = false

[init]
	defaultBranch = main

[core]
	autocrlf = input
