[includeIf "gitdir:~/q/"]
	path = ~/git/dotfiles/gitconfig/.gitconfig-q42

[includeIf "gitdir:~/git/"]
	path = ~/git/dotfiles/gitconfig/.gitconfig-joppe

[user]
	name = Joppe Koers

	# https://stackoverflow.com/questions/48065535/should-i-keep-gitconfigs-signingkey-private
	signingkey = E907498FF2EB794019BF5F2B428A406260AC0EA8

[gpg]
	program = /opt/homebrew/bin/gpg

[commit]
	gpgsign = true

[submodule]
	# recurse = true

[url "ssh://git@github.com/"]
	insteadOf = https://github.com/

[push]
	autoSetRemote = true
	autoSetupRemote = true

[pull]
	rebase = false
